{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-4 col-lg-3">
        {% include 'sidebar-left.html' %}
    </div>
    <div class="col-xs-12 col-md-8">
        <h1>Mapping Chicagoland</h1>

        <p>Sed eget posuere tellus, ut malesuada eros. Aliquam lobortis fringilla bibendum. Etiam metus diam, dignissim non magna vel, viverra convallis neque. Vivamus sit amet nulla ut risus porttitor lacinia eu quis nunc. Sed ut sodales ex, vitae luctus ante. Sed convallis tortor vitae enim bibendum dignissim. Integer blandit sapien diam, ut accumsan est pellentesque nec.</p>

        {% include 'elements-browse-bar.html' %}
    </div>
</div>
{% endblock %}
